#about {
  //about-a
  &-a {
    .about-info {
      display: grid;
      grid-template-areas: 
        'bioimage bio bio'
        'aw1 aw2 aw3';
      gap: 1.25rem;  
    }

    //grid area
    .bio-image {
      grid-area: bioimage;
    }

    .bio {
      grid-area: bio;
      border-left: 3px solid $main-color;
      padding: 0.75rem;
    }

    .award {
      &-1 {
        grid-area: aw1;
      }
      &-2 {
        grid-area: aw2;
      }
      &-3 {
        grid-area: aw3;
      }

      &-1 i, &-2 i, &-3 i {
        margin: 1rem;
        font-size: 3rem;
        color: $main-color;
      }
    }
  }

  //about-b
  &-b {
    .progress {
      overflow: hidden;
      height: 20px;
      background-color: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.5rem;

      div {
        height: 100%;
        color: $font-color;
        text-align: center;
        background-color: $main-color;
      }
    }
  }

  //about-c
  &-c {
    .about-logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;

      img {
        width: 70%;
        justify-self: center;
      }
    }
  }

  //about-d
  &-d {
    .testimonials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.5rem;

      ul {
        margin-top: 1rem;
        display: flex;
        align-items: center
      };

      p{
        border: 1px solid $medium-color;
        border-radius: 5px;
        padding: 0.5rem;
      };

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 0.5rem;
      }
    }
  }
}