#contact {
  //Section A
  &-a {
    .text-fields {
      display: grid;
      grid-template-areas:
        'name email'
        'subject phone'
        'message message';
      gap: 1.25rem;
      margin-bottom: 1.25rem;

      .name-input {
        grid-area: name;
      }
      .subject-input {
        grid-area: subject;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
        height: 100px;
        resize: vertical;
      }

      .text-input {
        padding: 0.5rem 1rem;
      }
    }

    button[type='submit'] {
      width: 50%;
    }
  }

  //Section B
  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }

  &-c {
    h1 {
      text-align: center;
      font-size: 4rem;
    }
  }
}
